/* imports */

@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Piazzolla&family=Roboto+Mono&display=swap");
/* global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: black;
}

/* header styles */

header {
  min-height: 20%;
  border-bottom: 3px solid white;
}
header img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

h1 {
  display: grid;
  place-items: center;
  height: 15vh;
  background-color: black;
  color: white;
  font-size: 4vw;
}

/* main styles */
.center {
  text-align: center;
}
.label {
  color: white;
  font-family: "Parisienne", cursive;
  font-size: 5vw;
}
.date {
  color: white;
  background-color:black;
  font-size: 4vw;
  font-family: "Piazzolla", serif;
  padding: 2vh 4vw;
  margin-top: 5vh;
  margin-left: 2vw;
  box-shadow: 1px 1px 2px white;
  border-radius: 25px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 4px;
  background:blue;
  margin: 5vh auto;
  opacity: 0.4;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: url("/favicon.ico");
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-color: rgb(0, 0, 80);
  background: url("/favicon.ico");
  cursor: pointer;
}
.slider:hover {
  opacity: 0.7;
}

main img {
  display: block;
  margin: 5vh auto;
  max-width: 80%;
  height: 100vh;
}

/* footer styles */

footer {
  color: white;
  border-top: solid 3px white;
  padding: 3vw;
  background-color: rgba(10, 10, 10, 1);
  font-size: 1.8vw;
}

/* media queries */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5vw;
  }
  header {
    position: relative;
    overflow: auto;
  }
  header img {
    max-width: 11%;
    height: auto;
    float: left;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .label {
    font-size: 3vw;
  }
  .date {
    padding: 1vh 2vw;
    font-size: 2.5vw;
  }
  footer {
    font-size: 1.3vw;
    text-align: justify;
  }
}
