/* imports */

@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Piazzolla&family=Roboto+Mono&display=swap");

/* global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: black;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header styles */

header {
  text-align: center;
  padding: 1.5em 1.5em 3em 1.5em;
  border-bottom: 1px solid white;
}
nav {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
}
hr {
  color: white;
}

/* main styles */

main {
  margin: 4em 2em 2em 2em;
  text-align: center;
}
label {
  font-family: "Parisienne", cursive;
  font-size: 2.5rem;
}
.date {
  color: white;
  background-color:black;
  font-size: 1.5rem;
  font-family: "Piazzolla", serif;
  box-shadow: 1px 1px 2px white;
  border-radius: 25px;
  padding: 0.5em;
  margin-left: 0.5em;
}
#inputslider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 2px;
  background:white;
  margin-top: 4em;
}
#inputslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
#inputslider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
main img {
  max-width: 100%;
}

/* footer styles */

footer {
  background-color: rgb(11, 4, 46);
  border-top: 1px solid white;
  font-size: 1rem;
  padding: 1em;
}

/* media queries */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.8rem;
  }
  header {
    position: relative;
    overflow: auto;
  }
  header img {
    max-width: 11%;
    height: auto;
    float: left;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .label {
    font-size: 4rem;
  }
  .date {
    padding: 0.5em;
    font-size: 3rem;
  }
  footer {
    font-size: 2rem;
    text-align: justify;
  }
}
